/*
icon style
*/

.bk-arrow{height:40px; width:40px; display:block; position:relative;overflow:hidden;}

.bk-arrow:before{content:''; height:20px; width:20px; display:block; border:5px solid #333;transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg); 
    position:absolute; 
    top:7px; 
    right:7px;}
 
.arrow-right{width:25px;}
.arrow-right:before{border-left-width:0;border-top-width:0;}

.arrow-left{width:40px;}
.arrow-left:before{border-right-width:0; border-bottom-width:0;}

.arrow-down:before{border-right-width:0;border-top-width:0;}
.arrow-up:before{border-left-width:0; border-bottom-width:0;}

/*
    btn
*/
.btn{
    float: left;
    width: 100px;
    height: 20px;
    margin: 5px 0;
    line-height: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid;
    background-color: white;
    cursor: pointer;
}
.btn-login{
    width: 220px;
    height: 40px;
    margin: 5px 0;
    line-height: 40px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn-kakao-login{
    background-color: var(--kakao-color);
    color: white;
}
.btn-kakao-login:hover{
    opacity: 0.7;
}
.btn-google-login{
    background-color: var(--google-color);
    color: white;
}
.btn-google-login:hover{
    opacity: 0.7;
}
.btn-github-login{
    background-color: var(--github-color);
    color: white;
}
.btn-github-login:hover{
    opacity: 0.7;
}

/*
    social
*/