@charset "UTF-8";
/*
사이드 - 카테고리
컨텐츠 - 글목록
*/
main{
    border: 1px solid #ddd;
}
.main-contents{
    outline: none;
}
#welcome-img{
    width: 100%;
}
.main-ex-contents{
    border-top: 1px solid;
    border-style: outset;
}