/*
main
*/
main{
    border: 1px solid #ddd;
}
.main-contents{
    outline: none;
}
#welcome-img{
    width: 100%;
}
.main-ex-contents{
    border-top: 1px solid;
    border-style: outset;
}
.login-container{
    align-self: flex-end;
    padding: 5px;
}
#mainLoginBtn{
    width: 150px;
    height: 35px;
    margin: 5px 0;
    line-height: 35px;
    border-color: var(--bk-black);
    font-family: 'Turret Road', cursive;
    font-size: 1.4rem;
}
#mainLoginBtn:hover{
    background-color: var(--point-color);
    border-color: var(--point-color);
    color: white;
    opacity: 0.6;
}